@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@1,300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@media screen and (max-width:600px){
    #menuMobile_icone{
        display: flex;
    }
    .caixa_menu{
        display: none;
    }
    .row{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .caixa1 button{
        position: relative;
        top: 100px;
    } 
    .footer{
        z-index: -1;
        background-color: #e7e5e5d2;
    }

    .main{
        height: 2100px;
    }
    #menuMobile_icone{
        position: absolute;
    }
}

@media screen and (max-width:1200px){
    .nick {
        top: 35%;
    }
    .card {
        width: calc(50% - 10px);
        margin: 15px;
      }
    }
    @media screen and (max-width:700px){
        .main__menu {
            display: flex;
            flex-direction: column;
            align-items: center;
          }

          .card {
            width: 100%;
            margin-bottom: 15px;
          }
        }